.tab-item-container {
  list-style-type: none;
}

.tab-btn {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .tab-btn {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 992px) {
  .tab-btn {
    font-size: 24px;
  }
}

.active-tab {
  color: #fec653;
  border-bottom: 4px solid #fec653;
}
