.thumbnail-item-container {
  list-style-type: none;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 10px;
  padding: 0px;
}

.thumbnail-btn {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  cursor: pointer;
}

.thumbnail-image {
  width: 80px;
  border-radius: 4px;
}

@media screen and (min-width: 576px) {
  .thumbnail-image {
    width: 90px;
  }
}

@media screen and (min-width: 768px) {
  .thumbnail-image {
    width: 100px;
  }
}

@media screen and (min-width: 992px) {
  .thumbnail-image {
    width: 110px;
  }
}

@media screen and (min-width: 1200px) {
  .thumbnail-image {
    width: 118px;
  }
}
